
.form{
    text-align: center; 
    margin-top: 6rem;
}

@media (max-height:680px){
    .form{
        border: 0px solid white;
        margin-top: 5rem;
    }

}

@media (max-height:500px){
    .form{
        margin-top: 0;
    }
}
