<<<<<<< HEAD


.form{
    border: 0px solid white;
    margin-top: 4rem;
=======
.form{
    border: 0px solid white;
    margin-top: 6rem;
>>>>>>> 045e3193e8097b77a23757af94ccd46b36cb2836
}

@media (max-height:750px){
    .form{
        border: 0px solid white;
        margin-top: 5rem;
    }

}

@media (max-height:500px){
    .form{
        margin-top: 0;
    }
}

input::placeholder{
    color: #9c9c9c;
}