.form{
    border: 0px solid white;
    margin-top: 6rem;
}

@media (max-height:750px){
    .form{
        border: 0px solid white;
        margin-top: 5rem;
    }

}

@media (max-height:500px){
    .form{
        margin-top: 0;
    }
}

input::placeholder{
    color: #9c9c9c;
}