
.cont{
    --background: transparent;
}
.message{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0;
    margin-top: 4rem;
    border: 0px solid black;
}

input{
    width: 20%;
    background-color: white;
    border-radius: 0.8rem;
    padding-block: .8rem;
    text-align: center;
    font-size: 29px;
}

.input{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    border: 0px solid black;
    margin-top: 2rem;
}


.did{
    border: 0px solid black;
    text-align: center;
    margin-top: 2rem;
}


.butCont{
    margin-top: 5rem;
    text-align: center;
}

.but{
    padding-inline: 7rem;
    padding-block: .8rem;
    font-size: 22px;
    background: #19fb04;
    border-radius: 2rem;
}